@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.142 0.004 290.58248525345374);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.142 0.004 290.58248525345374);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.142 0.004 290.58248525345374);
  --primary: oklch(0.424 0.193 278.73346573673666);
  --primary-foreground: oklch(0.946 0.019 290.62966343718756);
  --secondary: oklch(0.880 0.005 290.90228779498693);
  --secondary-foreground: oklch(0.211 0.005 290.566633787716);
  --muted: oklch(0.880 0.005 290.90228779498693);
  --muted-foreground: oklch(0.472 0.109 286.00981081550697);
  --accent: oklch(0.761 0.054 289.6205975112691);
  --accent-foreground: oklch(0.192 0.031 287.7215766690417);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.839 0.007 290.8557117188614);
  --input: oklch(0.839 0.007 290.8557117188614);
  --ring: oklch(0.424 0.193 278.73346573673666);
  --chart-1: oklch(0.424 0.193 278.73346573673666);
  --chart-2: oklch(0.587 0.126 286.42867490128157);
  --chart-3: oklch(0.718 0.057 289.448958707492);
  --chart-4: oklch(0.314 0.159 276.5431269699808);
  --chart-5: oklch(0.247 0.108 279.4813388361014);
  --sidebar: oklch(0.880 0.005 290.90228779498693);
  --sidebar-foreground: oklch(0.211 0.005 290.566633787716);
  --sidebar-primary: oklch(0.424 0.193 278.73346573673666);
  --sidebar-primary-foreground: oklch(0.946 0.019 290.62966343718756);
  --sidebar-accent: oklch(0.761 0.054 289.6205975112691);
  --sidebar-accent-foreground: oklch(0.192 0.031 287.7215766690417);
  --sidebar-border: oklch(0.839 0.007 290.8557117188614);
  --sidebar-ring: oklch(0.424 0.193 278.73346573673666);
}

.dark {
  --background: oklch(0.192 0.031 287.7215766690417);
  --foreground: oklch(0.959 0.003 290.9472311836534);
  --card: oklch(0.227 0.041 287.2447707786668);
  --card-foreground: oklch(0.959 0.003 290.9472311836534);
  --popover: oklch(0.227 0.041 287.2447707786668);
  --popover-foreground: oklch(0.959 0.003 290.9472311836534);
  --primary: oklch(0.452 0.222 277.19051599489603);
  --primary-foreground: oklch(0.945 0.021 290.6012221228508);
  --secondary: oklch(0.258 0.014 289.94678745772535);
  --secondary-foreground: oklch(0.959 0.003 290.9472311836534);
  --muted: oklch(0.258 0.014 289.94678745772535);
  --muted-foreground: oklch(0.692 0.039 289.92610401120345);
  --accent: oklch(0.319 0.067 286.53679939340196);
  --accent-foreground: oklch(0.953 0.010 290.81124496917784);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.344 0.033 289.104350586932);
  --input: oklch(0.344 0.033 289.104350586932);
  --ring: oklch(0.452 0.222 277.19051599489603);
  --chart-1: oklch(0.452 0.222 277.19051599489603);
  --chart-2: oklch(0.598 0.171 284.5297725031768);
  --chart-3: oklch(0.706 0.129 287.1997246431877);
  --chart-4: oklch(0.364 0.143 281.1072936324007);
  --chart-5: oklch(0.305 0.089 284.38265678531843);
  --sidebar: oklch(0.295 0.060 286.67757937330487);
  --sidebar-foreground: oklch(0.959 0.003 290.9472311836534);
  --sidebar-primary: oklch(0.452 0.222 277.19051599489603);
  --sidebar-primary-foreground: oklch(0.945 0.021 290.6012221228508);
  --sidebar-accent: oklch(0.319 0.067 286.53679939340196);
  --sidebar-accent-foreground: oklch(0.953 0.010 290.81124496917784);
  --sidebar-border: oklch(0.344 0.033 289.104350586932);
  --sidebar-ring: oklch(0.452 0.222 277.19051599489603);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}